.dashboard {
  display: flex;
  min-height: 100vh;
  background: #eef2f7;
}

/* SIDEBAR */

.sidebar {
  width: 240px;
  background: #2f2f2f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

.logo {
  color: #d78db6;
  font-size: 2rem;
  margin-bottom: 25px;
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 40px;
}

.avatar {
  width: 55px;
  height: 55px;
  background: white;
  border-radius: 50%;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px 0;
  cursor: pointer;
}

.active-menu {
  color: #d78db6;
}

.logout {
  background: #b68ab0;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
}

/* CONTEÚDO */

.content {
  flex: 1;
  padding: 20px;
}

/* MENU */

.top-menu {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.top-menu button {
  width: 150px;
  height: 42px;
  border: none;
  border-radius: 8px;
  background: #b68ab0;
  color: white;
}

.top-menu .active {
  background: #d764c8;
}

/* BOX */

.publicacoes-box {
  background: white;
  border-radius: 12px;
  padding: 20px;
}

/* TOOLBAR */

.toolbar {
  display: flex;
  gap: 16px;
  margin-bottom: 25px;
}

.toolbar input {
  flex: 1;
  border: none;
  background: #f3f3f3;
  border-radius: 8px;
  padding: 12px;
}

.filtro-btn {
  background: #b68ab0;
  color: white;
  border: none;
  width: 120px;
  border-radius: 8px;
}

.novo-btn {
  background: #6dd7de;
  color: black;
  border: none;
  width: 120px;
  border-radius: 8px;
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-bottom: 4px solid #72d6e4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-body h2 {
  color: #5c9db3;
  margin-bottom: 10px;
}

.info {
  display: flex;
  gap: 12px;
  color: #888;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.card-body p {
  font-size: 0.85rem;
  color: #666;
  line-height: 1.5;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.editar {
  width: 120px;
  border: none;
  background: #b68ab0;
  color: white;
  border-radius: 6px;
  padding: 8px;
}

.delete {
  border: none;
  background: transparent;
  font-size: 1.3rem;
  cursor: pointer;
}

/* PAGINAÇÃO */

.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  width: 35px;
  height: 35px;
  border: none;
  background: #f3f3f3;
}

.page-active {
  background: #b68ab0 !important;
  color: white;
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .toolbar {
    flex-direction: column;
  }

  .top-menu {
    flex-wrap: wrap;
  }
}